div {
    border-radius: 5px;
    width: 392px;
    background-color: rgb(238, 232, 232);
    padding-bottom: 5px;
}

ul {
  list-style: none;  
}

.listItem {
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 35px;
    border-radius: 4px;
}

.h2 {
    margin-left: 23px;
    padding: 20px;
    margin-bottom: -10px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

img {
    width: 360px;
    height: 300px;
    margin-bottom: 40px;
}

.change-color {
    width: 148px;
    height: 40px;
    background-color: #4E75FF;
    color: aliceblue;
    border: none;
    border-radius: 10px;
}

p {
    color: #2E2F42;
    text-align: center;
}

.widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 280px;
    margin: 0 auto;
}